div.teste {
    background-color: #858694;
    height: 100%;
}

input.ipt {
    background-color: #858694;
    height: 15vh;
    width: 100%;
    text-align: right;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    float: right;
    padding: 0rem 1.2rem;
    border: none;
}

input.result {
    background-color: #858694;
    height: 5vh;
    width: 100%;
    text-align: right;
    color: #fff;
    font-size: 2rem;
    float: right;
    padding: 0rem 1.2rem;
    border: none;
}

.dft {
    background-color:#e0e0e0;
    color: black;
    font-size: 4rem;
    height: 15vh;
    width: 24.8%;
    /* padding: 6px; */
    border-width: 0px;
    margin: 0 1px 0 0;
    cursor: pointer;
}

.notWorking {
    cursor: not-allowed;
}

.mathSignal{
    background-color: darkorange;
    color: #fff
}

.zero {
    width: 50%
}


