div#root{
  height: 100% !important;
  /* position: absolute; */
  left: 0;
  width: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: #858694;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}
